<div
  class="login-body flex flex-column align-items-center justify-content-center"
>
  <div class="login-panel p-5 flex justify-content-center flex-column">
    <img [src]="'assets/images/logo-white.png'" alt="image" />
    <h3 class="txt-center">¡Bienvenidos!</h3>
    <p class="mt-2 mb-2 txt-center">Restablecer contraseña</p>
    <form
      name="loginForm"
      [formGroup]="resetPasswordForm"
      (ngSubmit)="reset()"
      class="p-2 flex justify-content-center txt-center flex-column"
    >
      <p-toast key="resetErrors"></p-toast>

      <span class="p-float-label">
        <p-password
          id="password"
          promptLabel="Ingrese contraseña"
          weakLabel="Débil"
          mediumLabel="Media"
          strongLabel="Fuerte"
          [toggleMask]="true"
          formControlName="password"
        ></p-password>
        <label for="confirmPassword" class="required">Contraseña</label>
      </span>
      <div class="mt-2 mb-2">
        <p-message
          *ngIf="
            resetPasswordForm.controls.password.touched &&
            !resetPasswordForm.controls.password.valid
          "
          severity="error"
          text="La contraseña debe construirse de mínimo 8 caratéres y almenos un(a): mayúscula, minúscula y un número."
          class="mb-2"
        ></p-message>
      </div>
      <span class="p-float-label">
        <p-password
          id="passwordVerification"
          promptLabel="Ingrese contraseña"
          weakLabel="Débil"
          mediumLabel="Media"
          strongLabel="Fuerte"
          [toggleMask]="true"
          formControlName="passwordVerification"
        ></p-password>
        <label for="confirmPassword" class="required"
          >Confirmar contraseña</label
        >
      </span>
      <div class="mt-2 mb-2">
        <p-message
          *ngIf="
            resetPasswordForm.controls.passwordVerification.touched &&
            resetPasswordForm.controls.password.value !==
              resetPasswordForm.controls.passwordVerification.value
          "
          severity="error"
          text="La contraseña de confirmación aún no coincide."
        ></p-message>
      </div>

      <ngx-recaptcha2
        class="mt-2"
        #captchaElem
        [siteKey]="captchaKey"
        formControlName="recaptcha"
      >
      </ngx-recaptcha2>
      <button
        [disabled]="!resetPasswordForm.valid"
        pButton
        pRipple
        class="p-button p-button-rounded mt-4"
        type="submit"
      >
        Restablecer
      </button>
    </form>
  </div>
</div>
