<p>Hola: {{userName}} </p>

<p>Ha recibido este correo por que usted o alguien mas, solicito reiniciar la
  contraseña para su cuenta.</p>
<p>Por favor haga click en el siguiente link, o peguelo en su explorador para
  completar el proceso.</p>

<a href='{{url}}'>Recuperar contraseña</a>

<p>Si usted no solicito esto, por favor ignore este correo.</p>

<p>Saludos,</p>
<p>Soporte RDS.</p>