<div class="p-grid">
  <p-toast></p-toast>
  <div class="p-col-12">
    <div class="card">
      <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
          <h1>Agregar roles.</h1>
        </ng-template>
        <ng-template pTemplate="right">
          <button
            pButton
            type="button"
            label="Agregar Role"
            (click)="createRole()"
          ></button>
        </ng-template>
      </p-toolbar>

      <p-selectButton
        [options]="options"
        optionLabel="name"
        optionValue="value"
        [(ngModel)]="optionsSelected"
      ></p-selectButton>

      <p-table
        #dt
        [rows]="10"
        dataKey="id"
        [paginator]="true"
        responsiveLayout="scroll"
        [globalFilterFields]="['name']"
        styleClass="p-datatable-gridlines"
        responsiveLayout="scroll"
        [value]="roles"
      >
        <ng-template pTemplate="caption">
          <div class="flex">
            <span class="p-input-icon-left ml-auto">
              <i class="pi pi-search"></i>

              <input
                pInputText
                type="text"
                (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                placeholder="Buscar.."
              />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="name">
              Nombre <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th>Acciones</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-role>
          <tr *ngIf="role.isActive === optionsSelected">
            <td>{{ role.name }}</td>
            <td>
              <button
                pButton
                pRipple
                icon="pi pi-pencil"
                pTooltip="Editar role"
                class="p-button-rounded p-button-warning p-mr-2"
                (click)="editRole(role)"
              ></button>
              <button
                pButton
                pRipple
                icon="pi pi-times"
                pTooltip="Inactivar role"
                class="p-button-rounded p-button-danger"
                *ngIf="role.isActive"
                (click)="changeState(role)"
              ></button>
              <button
                pButton
                pRipple
                icon="pi pi-check"
                pTooltip="Activar usuario"
                class="p-button-rounded p-button-success"
                *ngIf="!role.isActive"
                (click)="changeState(role)"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<p-dialog
  [(visible)]="addNew"
  [style]="{ overflow: 'auto', 'min-width': '32%' }"
  [contentStyle]="{ overflow: 'visible' }"
  [modal]="true"
  [draggable]="false"
  [maximizable]="true"
>
  <ng-template pTemplate="header">
    <p>Crear un nuevo role.</p>
  </ng-template>
  <form
    name="rolesForm"
    [formGroup]="rolesForm"
    (ngSubmit)="saveRole()"
    class="mt-2"
  >
    <div class="field grid">
      <label for="name" class="col-12 md:col-4">Nombre del role:</label>
      <div class="col-12 md:col-8">
        <input
          formControlName="name"
          class="input inputfield"
          type="text"
          id="name"
          class="inputfield"
          pInputText
          placeholder="Nombre del role"
        />
      </div>
      <p-message
        *ngIf="
          rolesForm.controls.name.touched && !rolesForm.controls.name.valid
        "
        severity="error"
        text="Nombre requerido."
        class="mb-2 mt-2"
      ></p-message>
    </div>
    <div class="field grid">
      <label for="role" class="col-12 md:col-4">Copiar plantilla de: </label>
      <div class="col-12 md:col-8">
        <p-dropdown
          formControlName="template"
          id="role"
          [options]="roles"
          (onChange)="setPages()"
          optionLabel="name"
          placeholder="Seleccione un role"
          class="sm:p-col-12"
        ></p-dropdown>
      </div>
    </div>
    <div class="field grid">
      <label for="isActive" class="col-12 md:col-4">Activo:</label>
      <div class="col-12 md:col-8">
        <p-inputSwitch
          id="isActive"
          formControlName="isActive"
          class="mt-2"
        ></p-inputSwitch>
      </div>
    </div>
    <div class="field grid">
      <label for="node" class="p-col-12"
        >Seleccione las pantallas de acceso del role:</label
      >
      <p-tree
        id="node"
        [value]="menu"
        class="p-col-12"
        selectionMode="checkbox"
        [(selection)]="selectedPages"
      ></p-tree>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancelar"
      icon="pi pi-times"
      class="p-button-text"
      (click)="addNew = false; isEditing = false"
    ></button>
    <button
      pButton
      pRipple
      label="Guardar"
      icon="pi pi-check"
      class="p-button-text"
      (click)="saveRole()"
    ></button>
  </ng-template>
</p-dialog>
<p-confirmDialog [style]="{ width: '500px' }"></p-confirmDialog>
