<div class="layout-topbar">
  <div class="layout-topbar-left">
    <a class="app-name" href="/">
      <img
        alt="main logo"
        [src]="'assets/images/logo-white.png'"
        class="app-logo"
      />
    </a>
    <a href="#" class="menu-button" (click)="appMain.onMenuButtonClick($event)">
      <div class="menu-button-icon"></div>
    </a>
  </div>
  <div class="layout-topbar-right">
    <ul class="layout-topbar-actions">
      <li
        #profile
        class="site-item"
        [ngClass]="{
          'active-topmenuitem fadeInDown': appMain.activeTopbarItem === profile
        }"
      >
        <div
          class="site-container"
          (click)="appMain.onTopbarItemClick($event, profile)"
        >
          <div class="name-container">
            <span class="site"> {{ site.name }} </span>
          </div>
          <i class="pi pi-angle-down"></i>
        </div>

        <ul class="site-menu fadeInDown">
          <li *ngFor="let site of sites">
            <a (click)="setSite(site)">
              <span> {{ site.name }} </span>
            </a>
          </li>
        </ul>
      </li>
      <!-- signOut
      ============================================= -->
      <li>
        <a>
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-sign-out"
            class="p-button-rounded p-ml-2 cerrar-sesion"
            pTooltip="Cerrar Sesión"
            (click)="signOut()"
          ></button>
        </a>
      </li>
    </ul>
  </div>
</div>
