<router-outlet></router-outlet>
<div *ngIf="showSpinner">
  <div>
    <div class="spinner">
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
      <i>
        <b></b>
      </i>
    </div>

    <div id="overlay"></div>
  </div>
</div>
