$particles: 100; // has to match nodes in dom
$particleSize: 6px;
$radius: 100;
$lapDuration: 3s;

.spinner-body {
  overflow: hidden;
  background-image: linear-gradient(147.38deg, #d6cdf8 0%, #a6c7f5 100%);
  height: 100vh;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10000;

  perspective: 200px;
}

i {
  display: block;
  position: absolute;
  opacity: 1;

  b {
    display: block;
    width: $particleSize;
    height: $particleSize;
    border-radius: $particleSize;
    background: rgba(90, 78, 223, 1);
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.4);

    animation-name: spin;
    animation-duration: $lapDuration;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
}

@for $i from 1 through $particles {
  i:nth-child(#{$i}) {
    $angle: ($i / $particles) * 360;

    transform: rotate(#{$angle}deg) translate3d(#{$radius}px, 0, 0);

    b {
      animation-delay: $i * ($lapDuration / ($particles - 2));
    }
  }
}

@keyframes spin {
  0% {
    transform: scale(1);
  }
  15% {
    transform: translate(-$particleSize/2, -$particleSize/2) scale(3);
  }
  50% {
    transform: scale(1);
  }
}

:host ::ng-deep {
  .c-icons {
    width: 1rem;
    height: 1rem;
  }
  .c-iconsMenu {
    width: 2rem;
    height: 2rem;
  }

  .widget-icon {
    background-image: url("/assets/images/iconsMenu/widgets.svg");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center
  }
  .dashboard-icon {
    background-image: url("/assets/images/iconsMenu/dashboard.svg");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center
  }
  .parametrizacionWidgets-icon {
    background-image: url("/assets/images/iconsMenu/parametrizacionWidgets.svg");
    background-size:16px 16px;
    background-repeat: no-repeat;
    background-position: center
  }
  .dominios-icon {
    background-image: url("/assets/images/iconsMenu/dominios.svg");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center
  }
  .reglas-icon {
    background-image: url("/assets/images/iconsMenu/reglas.svg");
    background-size:16px 16px;
    background-repeat: no-repeat;
    background-position: center
  }
  .variable-icon {
    background-image: url("/assets/images/iconsMenu/variables.svg");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center
  }
  .template-icon {
    background-image: url("/assets/images/iconsMenu/plantillas.svg");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center
  }
  .condiciones-icon {
    background-image: url("/assets/images/iconsMenu/condiciones.svg");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center
  }
  .acciones-icon {
    background-image: url("/assets/images/iconsMenu/acciones.svg");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center
  }
  .menu1-icon {
    background-image: url("/assets/images/iconsMenu/menu1.svg");
    background-size: 28px 28px;
    background-repeat: no-repeat;
    background-position: center
  }
  .menu2-icon {
    background-image: url("/assets/images/iconsMenu/menu2.svg");
    background-size: 28px 28px;
    background-repeat: no-repeat;
    background-position: center
  }
  .menu3-icon {
    background-image: url("/assets/images/iconsMenu/menu3.svg");
    background-size: 28px 28px;
    background-repeat: no-repeat;
    background-position: center
  }
  .menu4-icon {
    background-image: url("/assets/images/iconsMenu/menu4.svg");
    background-size: 28px 28px;
    background-repeat: no-repeat;
    background-position: center
  }
  .menu5-icon {
    background-image: url("/assets/images/iconsMenu/menu5.svg");
    background-size: 28px 28px;
    background-repeat: no-repeat;
    background-position: center
  }

  .menu7-icon {
    background-image: url("/assets/images/iconsMenu/menu7.svg");
    background-size: 28px 28px;
    background-repeat: no-repeat;
    background-position: center
  }
  .goals-icon {
    background-image: url("/assets/images/iconsMenu/goals.svg");
    background-size: 28px 28px;
    background-repeat: no-repeat;
    background-position: center
  }
  .campañas-icon {
    background-image: url("/assets/images/iconsMenu/campañas.svg");
    background-size: 28px 28px;
    background-repeat: no-repeat;
    background-position: center
  }
  .creacion_plantillas-icon {
    background-image: url("/assets/images/iconsMenu/creacion_plantillas.svg");
    // background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center
  }
  .creacion_placeholders-icon {
    background-image: url("/assets/images/iconsMenu/creacion_placeholders.svg");
    // background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center
  }
  .creacion_propiedades-icon {
    background-image: url("/assets/images/iconsMenu/creacion_propiedades.svg");
    // background-size: 28px 28px;
    background-repeat: no-repeat;
    background-position: center
  }
}
