// COLORS
$contentBg: #f5f7fa; //color of the children
$color-primary: #006dff;
$color-secondary: #19496c;
$primary: #40c6ed;
$btn: #006dff;
$btn-over: #5a4edf;

//TOPBAR
$topbarMenuTextColor: #025ddb;
$topbarAvatarTextColor: #9e768f;
$topbarItemsBorder: 2px solid #025ddb;
$topbarAvatarBg: rgba(255, 255, 255, 1);
$topbarMenuTextActiveColor: rgba(245, 247, 250, 1);

//MENU
$sidebarWidth: 7rem !default;
$tabletBreakpoint: 991px;
$slimSidebarWidth: 7rem !default;
$transitionDuration: 0.2s !default;
$animationDuration: 0.4s !default;
$animationTimingFunction: 0.4s !default;

$color-black: #000;
$color-white: #ffffff;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
