<div class="p-grid">
  <p-toast></p-toast>
  <div class="p-col-12">
    <div class="card">
      <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
          <h1>Administrar Tags.</h1>
        </ng-template>
        <ng-template pTemplate="right">
          <button
            pButton
            type="button"
            label="Agregar tag"
            (click)="createTag()"
          ></button>
        </ng-template>
      </p-toolbar>

      <p-table
        #dt
        [rows]="10"
        dataKey="id"
        [paginator]="true"
        responsiveLayout="scroll"
        [globalFilterFields]="['name', 'description']"
        styleClass="p-datatable-gridlines"
        responsiveLayout="scroll"
        [value]="tags"
      >
        <ng-template pTemplate="caption">
          <div class="flex">
            <span class="p-input-icon-left ml-auto">
              <i class="pi pi-search"></i>

              <input
                pInputText
                type="text"
                (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                placeholder="Buscar.."
              />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="name">
              Nombre <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="description">
              Descripción <p-sortIcon field="description"></p-sortIcon>
            </th>
            <th>Acciones</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-tag>
          <tr>
            <td>{{ tag.name }}</td>
            <td>{{ tag.description }}</td>
            <td>
              <button
                pButton
                pRipple
                icon="pi pi-pencil"
                pTooltip="Editar tag"
                class="p-button-rounded p-button-warning p-mr-2"
                (click)="editTag(tag)"
              ></button>
              <button
                pButton
                pRipple
                icon="pi pi-trash"
                pTooltip="Eliminar tag"
                class="p-button-rounded p-button-danger"
                (click)="deleteTag(tag)"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<p-dialog
  [(visible)]="addNew"
  [style]="{ overflow: 'auto', 'min-width': '50vw', 'min-height': '60vh' }"
  [contentStyle]="{ overflow: 'visible' }"
  [modal]="true"
  [draggable]="false"
  [maximizable]="true"
>
  <ng-template pTemplate="header">
    <p>Crear un nuevo tag.</p>
  </ng-template>
  <form name="tagsForm" [formGroup]="tagsForm" class="mt-2">
    <div class="field grid">
      <label for="name" class="col-12 md:col-4">Nombre del tag:</label>
      <div class="col-12 md:col-8">
        <input
          style="width: -webkit-fill-available"
          formControlName="name"
          class="input inputfield"
          type="text"
          id="name"
          class="inputfield"
          pInputText
          placeholder="EJ: Visitas."
        />
      </div>
      <p-message
        *ngIf="tagsForm.controls.name.touched && !tagsForm.controls.name.valid"
        severity="error"
        text="Nombre requerido."
        class="mb-2 mt-2"
      ></p-message>
    </div>
    <div class="field grid">
      <label for="description" class="col-12 md:col-4"
        >Descripción del tag:</label
      >
      <div class="col-12 md:col-8">
        <input
          style="width: -webkit-fill-available"
          formControlName="description"
          class="input inputfield"
          type="text"
          id="description"
          class="inputfield"
          pInputText
          placeholder="EJ: Obtiene visitas."
        />
      </div>
      <p-message
        *ngIf="
          tagsForm.controls.description.touched &&
          !tagsForm.controls.description.valid
        "
        severity="error"
        text="Descripción requerida."
        class="mb-2 mt-2"
      ></p-message>
    </div>
    <div class="field grid">
      <label for="module" class="col-12 md:col-4">Módulo del tag:</label>
      <div class="col-12 md:col-8">
        <p-dropdown
          formControlName="module"
          [options]="typeClasification"
          optionLabel="name"
          optionValue="value"
          [autoDisplayFirst]="false"
          (onChange)="getAllParams($event)"
          placeholder="Seleccione un módulo"
        ></p-dropdown>
      </div>
      <p-message
        *ngIf="!tagsForm.controls.module.valid"
        severity="error"
        text="Módulo requerido."
        class="mb-2 mt-2"
      ></p-message>
    </div>
    <div class="field grid">
      <label for="module" class="col-12 md:col-4">Tag:</label>
      <div class="col-12 md:col-8">
        <p-dropdown
          [options]="typeParams"
          formControlName="tag"
          optionLabel="name"
          optionValue="value"
          [autoDisplayFirst]="false"
          placeholder="Seleccione un tag"
        ></p-dropdown>
      </div>
      <p-message
        *ngIf="!tagsForm.controls.tag.valid"
        severity="error"
        text="Tag requerido."
        class="mb-2 mt-2"
      ></p-message>
    </div>
  </form>

  <form [formGroup]="optionValuesForm">
    <p-table
      #dt
      formArrayName="optionValues"
      [rows]="10"
      [value]="[1]"
      dataKey="id"
      [paginator]="true"
      responsiveLayout="scroll"
      styleClass="p-datatable-gridlines"
    >
      <ng-template pTemplate="header">
        <tr>
          <th colspan="2">Agregar valores:</th>
          <th style="width: 5rem">
            <button
              type="button"
              (click)="addValue()"
              pButton
              pRipple
              icon="pi pi-plus"
              pTooltip="Agregar valor"
              class="p-button-rounded p-button-sucess p-mr-2"
            ></button>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body">
        <tr
          *ngFor="let value of values().controls; let i = index"
          [formGroupName]="i"
        >
          <td style="width: 20rem">
            Parámetro:
            <input
              type="text"
              formControlName="parameter"
              class="input inputfield"
              pInputText
              autocomplete="off"
            />
          </td>
          <td style="width: 20rem">
            Valor:
            <input
              type="text"
              formControlName="value"
              class="input inputfield"
              pInputText
              autocomplete="off"
            />
          </td>
          <td style="width: 5rem">
            <button
              (click)="removeValue(i)"
              pButton
              pRipple
              icon="pi pi-trash"
              pTooltip="Eliminar valor"
              class="p-button-rounded p-button-danger p-mr-2"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </form>

  <div class="row mt-2">
    <button
      pButton
      class="f-right"
      type="button"
      label="Ejecutar"
      (click)="tryTag()"
    ></button>
  </div>

  <div *ngIf="!isEmpty(response)">
    <hr />
    <h3>Respuesta:</h3>
    <pre> {{ response | json }}</pre>
    <hr />
    <div *ngIf="response['result'] !== 'error'">
      <h4>
        Seleccione las columnas que desea mostrar en la tabla de resultados por
        defecto
      </h4>
      <p-table
        [value]="matomoResponse"
        styleClass="p-datatable-gridlines"
        [(selection)]="columnSelected"
      >
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th>Columnas</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-key>
          <tr class="p-selectable-row">
            <td>
              <p-tableCheckbox [value]="key"></p-tableCheckbox>
            </td>
            <td>{{ key.field }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancelar"
      icon="pi pi-times"
      class="p-button-text"
      (click)="resetTag()"
    ></button>
    <button
      pButton
      [disabled]="!tagsForm.valid || columnSelected.length === 0"
      pRipple
      label="Guardar"
      icon="pi pi-check"
      class="p-button-text"
      (click)="saveTag()"
    ></button>
  </ng-template>
</p-dialog>
<p-confirmDialog [style]="{ width: '500px' }"></p-confirmDialog>
